@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    /* background-color: cadetblue; */
}

/* Header/Footer Div */
header,footer{
    width: inherit;
    min-height: 75px;  
    background-color: #333;
    color: #ffffff;

    position: fixed;      /* To apply fixed header/footer */
}

/* ====================  Header Section ========================= */
.header-div{
    width: 100%;
    min-height: 75px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
    padding: 0 10%;      /* Adding padding to left/right */

}

.logo-div{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;


}

.nav-div{


}

.nav-list li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    
    font-size: 15px;
    font-weight: 500;
}

.nav-list a{
    text-decoration: none;
    color: aliceblue;
    /* font-size: 15px;
    font-weight: 500; */
}


.button-div{


}

.button{
    background-color: rgb(53, 120, 99);
    font-size: 14px;
    font-weight: 400;
    color: aliceblue;
    padding: 9px 30px;
    border-radius: 20px;
    border: 2px solid #15d9c5;
    cursor: pointer;
   
}
.btn-prim{
    background-color: #389188;
    transition: all 0.2s;
}

.btn-prim a{
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}

.btn-sec{
    background-color: transparent;
    transition: all 0.2s;
}

.btn-sec a{
    text-decoration: none;
    list-style: none;
    color: aliceblue;
}

/* Hover Effect */
.btn-sec:hover{
    background-color: #389188;
}

.btn-prim:hover{
    background-color: transparent;
}


/* ====================  Main Section ========================= */
.main-div{

}

/* ====================  Footer Section ========================= */
/* Footer styling */
.footer-div {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    z-index: 100;
}