<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename ='styles.css')}}">
    <title>Home Page</title>
</head>
<body>
    <!-- Container -->
     <div class="container">

    <!-- Header Sections  -->
        <header class="header-div">
            <div class="logo-div">
                <p>Logo</p>
            </div>
            <nav class="nav-div">
                <ul class="nav_list">
                    <li><a href="#" class="nav__link">Home</a></li>
                    <li><a href="#" class="nav__link">Market</a></li>
                    <!-- <li><a href="#" class="nav__link">Service</a></li>
                    <li><a href="#" class="nav__link">Product</a></li>
                    <li><a href="#" class="nav__link">Contact</a></li> -->
                </ul>
            </nav>
            <div class="button-div">
                <button class="button btn-prim"><a href="#">Login</a></button>
                <button class="button btn-sec"><a href="#">Sign Up</a></button>
            </div>

        </header>

        <!-- Main Sections -->
        <main class="main-div">
            <h1>This is from Home page</h1>

        </main>

        <!-- Footer Sections -->
        <footer class="footer-div">
            <p>&copy; 2024 Company Name. All rights reserved.</p>
        </footer>

     </div>

</body>
</html>