<!-- Template inheritance -->
{% extends 'base.html' %}
<!-- Title page -->
{% block title %} Market Page {% endblock %}
<!-- Header for the page -->
{% block h1 %}
<h1>This is from Market page</h1>

 <!-- Data in Table -->
 <table class="table-div">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Barcode</th>
      <th>Price</th>
      <th>Options</th>
    </tr>
    <!-- table rows -->
     {% for item in items %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.barcode}}</td>
            <td>{{item.price}} $</td>
            <td>
                <button class="td-button td-more-info"><a href="#">More Info</a></button>
                <button class="td-button td-purchase"><a href="#">Purchase</a></button>
            </td>
        </tr>
     {%  endfor %}
</table>

{% endblock %}